In [ ]:
SELECT max(nettoar) - min(nettoar) as 'Terjedelem'
    , round(avg(nettoar),0) as 'Átlagár'
    , avg(nettoar) - (max(nettoar) - min(nettoar)) 'Átlag - terjedelem'
FROM dvd

In [ ]:
SELECT TOP 10
    nettoar AS 'Ár', 
    COUNT(*)  AS 'DVD-k száma'
from dvd
WHERE nettoar IS NOT null
GROUP BY nettoar
ORDER BY COUNT(*) desc

In [ ]:
SELECT avg(len(cim)) AS 'Átlagos címhossz'
    , stdev(len(cim)) AS 'Szórás'
FROM dvd

In [ ]:
SELECT * 
FROM dvd
WHERE id IN (
    SELECT TOP (10) id
    FROM dvd
    ORDER BY NEWID())

In [ ]:
SELECT cim
    , nettoar * [raktár készlet] as 'DVD összértéke'
FROM dvd
WHERE [raktár készlet] IS NOT NULL
    AND nettoar IS NOT NULL
    AND cim IS NOT NULL

In [ ]:
SELECT
     sum(nettoar * [raktár készlet]) as 'DVD-k összértéke'
FROM dvd
WHERE [raktár készlet] IS NOT NULL
    AND nettoar IS NOT NULL
    AND cim IS NOT NULL

In [ ]:
SELECT COUNT(DISTINCT nettoar) as 'Egyedi értékek'
    , count(nettoar) - COUNT(DISTINCT nettoar) as 'Nem egyedi értékek'
FROM dvd
WHERE nettoar IS NOT NULL